<section class="slide white" style="padding: 0">
    <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="-10 -10 895 645"
            width="100%"
            height="100%"
            style="background-image: url({{ .Site.BaseURL }}img/park.mail.ru/back.png)"
            version="1.1">
        <image
                xlink:href="{{ .Site.BaseURL }}img/park.mail.ru/blocks.png"
                width="718"
                height="548"
                preserveAspectRatio="none"
                x="157"
                y="67"/>
        <image
                xlink:href="{{ .Site.BaseURL }}img/park.mail.ru/logo.png"
                width="591"
                height="130"
                preserveAspectRatio="none"
                x="0"
                y="0"/>
        <g style="font-family: sans-serif; font-size: 32px">
            <foreignObject x="177" y="204" width="514" height="202">
                <div xmlns="http://www.w3.org/1999/xhtml"
                     style="height: 100%; width: 100%; display: table; text-align: center">
                    <div style="vertical-align: middle; display: table-cell; padding-bottom: 20px; font-weight: bold">
                        {{ .Site.Params.author }}
                        <div>@gent: {{ .Site.Params.agent }}</div>
                    </div>
                </div>
            </foreignObject>
            <foreignObject x="534" y="534" width="326" height="65">
                <div xmlns="http://www.w3.org/1999/xhtml"
                     style="height: 100%; width: 100%; display: table; text-align: center; font-size: 28px; font-weight: bold">
                    <div style="vertical-align: middle; display: table-cell">
                        Спасибо за внимание!
                    </div>
                </div>
            </foreignObject>
        <g>
    </svg>
</section>
